<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="SonarQube" ToolsVersion="14.0">
  <Include Path="..\sonarqube\cs_boxescsharp.ruleset" Action="Default" />
  <Rules AnalyzerId="SonarAnalyzer.CSharp" RuleNamespace="SonarAnalyzer.CSharp">
    <Rule Id="S1449" Action="None" />
    <Rule Id="S3168" Action="None" />
  </Rules>
</RuleSet>